<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Card</title>
    <link rel="stylesheet" href="/static/css/streamCard.css">
</head>
<body>
    <div class="movie-card">


    <div class="movie-image-wrapper">
        <img src="/static/img/topGunPoster.png" alt="Top Gun" class="movie-image">
    </div>

    <div class="movie-info">
        <h2>Top Gun</h2>

        <p> A classic action film about a young naval aviator who dreams of becoming the best of the best fighter pilots in the world.</p>

        <div class="movie-footer">
            <span class="movie-year">1986</span>
            <span class="movie-rating">PG-13</span>
        </div>
    </div>
</div>

</body>
</html>





