{% extends 'base.html' %}

{% block title %}
    Contact Page
{% endblock %}

{% block content %}
    <div class="text-center mb-5">
            <h1 class="display-5 fw-bold text-center m-5">Contact Us</h1>
            <p class="fs-3 p-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime debitis molestias quo reiciendis qui vitae itaque eos perspiciatis porro, quas illo accusamus reprehenderit ut nihil nulla at nemo exercitationem atque. Tenetur nemo, dicta optio deserunt consectetur vero voluptates provident architecto quia repellendus soluta itaque neque, repudiandae quis. Perspiciatis ipsam inventore labore rerum unde corporis!</p>  
    </div>
{% endblock %}